

.siteLogo {
    width: calc(100px + 4vw) !important;
    height: calc(100px + 4vw) !important;
    min-width: 400px !important;
}
.siteLogoG {
    width: 10vw !important;

}

.siteLogoGroup {
    width: 54vw !important;
    height: 20vw !important;
}

.miAdv {
    width: 1000px !important;

}
.container {
  max-width: 860px;
}

li {
    text-wrap: balance !important;
}

.card {
    min-height: 300px !important;
    
}

.buttonContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.buttonContainer button {
    width: 88% !important;
    margin-bottom: 1em !important;
    border-radius: 4px !important;
}

.accordion {
  cursor: pointer;
  width: 100%;
  padding: 0 !important;
  border: 0 !important;
  text-align: left;
  outline: none;
  font-size: 1em;
  font-weight: 900;
  transition: 0.4s;
  background-color: transparent !important;
  color: light-dark(#666666, #c7c7c7);
}

.active, .accordion:hover {
color: light-dark(black, white);
}

.active .carret {
transform: rotate(180deg);
}

.panel {
  padding: 20px 0px 0px 0px !important;
  display: none;
  background-color: transparent !important;
  overflow: hidden;
  font-size: 1em !important;
  font-weight: 200 !important;
}

.faccordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .faccordion:hover {
  background-color: #ccc; 
}

.fpanel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.footerList:hover {
    color: light-dark(#666666, #c7c7c7) !important;
}

.finePrint {
    font-weight: 200 !important;
}

.subDrop a {
    margin: 0px !important;
    padding-top: 0px !important;
    color: #0086ff;
    text-decoration: none;
    padding-right: 10px !important;
    margin-left: 10px !important;
}       

.dropdown-header {
    font-size: 1em !important;
    color: light-dark(black, white);
}




.logoTest{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}

